<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcome to our app, <%= @user.name %>!</h1>
  <h4>Your password is <%= @user.password %></h4>
  <p>Thank you for joining us.</p>
</body>
</html>
